
body{
  background-color: rgb(44, 10, 11);
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-rows: repeat(4);
}

.logo{
  /* width: 100%; */
  color: #e50914a1;
  font-weight:bold;
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
}
.container {
  text-align:center ;
   margin-top: 400px;
}

h1{
  color: white;
  font-size: 25px;
  font-weight:500;
margin-bottom: 30px;
  font-family: sans-serif;
  text-align: center;
}

.profiles {
 display: flex;
 flex-direction: row;
  justify-content: center;
  gap: 25px;
  flex-wrap:wrap;
  margin-bottom:40px;
}

.profile{
  width: 100px;
  text-align: center;
}
.profile img {
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.profile p{
  color: white;
  text-align: center;
  font-size:15px;
  font-weight: 500;
  font-family: sans-serif;
  margin: 15px auto;
  width: 100px;
  cursor: pointer;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  color: white;
  background-color: black;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
footer {
  text-align: center;
}

@media (max-width:500px){
  body{
     min-height: 100%;
  }
  .container{
margin-top: 200px;
  }
  .profile img{
    width: 70px;
  }
  .profiles{
    gap: 10px;
   display: grid;
  grid-template-columns: repeat(3,100px);
  }
  
}